<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - simple_web</title>
  </head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            A demo app from the  <a href="https://az204.eltons.academy">Acing AZ-204 course</a> on <a href="https://eltons.academy"> Elton's Academy</a>
        </div>
    </footer>
</body>
</html>